<div class="container">
    <br>
      <h2 align="center">Recherche médecins par spécialité </h2>
      <br>
      <form (ngSubmit)="onSubmit()">
    
                
                <div class="form-group">
                  <label for="prenom"> Spécialité :</label>
                  <select type="text" class="form-control"  id="specialite" 
                  required [(ngModel)]="specialite"
                  name="specialite">
                  <option value="Spec 1">Spec 1</option>
                  <option value="Spec 2">Spec 2</option>
                  <option value="Spec 3">Spec 3</option>
  
                  </select>
                </div>
    <br>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  
      <br>
      <div *ngIf="medecins">
      <div class="panel panel-primary">
          <div class="panel-heading">
          <h2 align="center">Liste des médecins</h2>
          <br>
          </div>
          <div class="panel-body">
          <table class="table table-striped">
          <thead>
          <tr>
          <th>Identifiant</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Specialité</th>
          <th>Action</th> 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of medecins | async">
      <td>{{c.id}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.specialite}}</td>
      <td><button (click)="delete(c.id)" class="btn btn-danger">Delete</button>
          <button (click)="update(c.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="consulte(c.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
      </td>
      </tr>
      </tbody>
      </table>
      </div>
      </div>
    </div>